.header{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: white;
  margin-bottom: 30px;
  height: 80px;
  border-bottom: 1px solid #dbdbdb;
}

.header div{
  width: 614px;
}

.logo{
  width:180px;
}

